<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lol.common.mapper.ds0.SmsQueueMapper" >
  <resultMap id="BaseResultMap" type="com.lol.common.model.ds0.SmsQueue" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="msg" property="msg" jdbcType="VARCHAR" />
    <result column="send_time" property="sendTime" jdbcType="TIMESTAMP" />
    <result column="send_status" property="sendStatus" jdbcType="VARCHAR" />
    <result column="arrive_status" property="arriveStatus" jdbcType="VARCHAR" />
    <result column="provider_id" property="providerId" jdbcType="INTEGER" />
    <result column="provider_type" property="providerType" jdbcType="INTEGER" />
    <result column="send_result" property="sendResult" jdbcType="INTEGER" />
    <result column="arrive_result" property="arriveResult" jdbcType="INTEGER" />
    <result column="cust_id" property="custId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, mobile, msg, send_time, send_status, arrive_status, provider_id, provider_type, 
    send_result, arrive_result, cust_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lol.common.model.ds0.SmsQueueExample" >
    <include refid="pagePrefix" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sms_queue
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="pageSuffix" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sms_queue
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sms_queue
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.lol.common.model.ds0.SmsQueueExample" >
    delete from sms_queue
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lol.common.model.ds0.SmsQueue" >
    insert into sms_queue (id, mobile, msg, 
      send_time, send_status, arrive_status, 
      provider_id, provider_type, send_result, 
      arrive_result, cust_id)
    values (#{id,jdbcType=BIGINT}, #{mobile,jdbcType=VARCHAR}, #{msg,jdbcType=VARCHAR}, 
      #{sendTime,jdbcType=TIMESTAMP}, #{sendStatus,jdbcType=VARCHAR}, #{arriveStatus,jdbcType=VARCHAR}, 
      #{providerId,jdbcType=INTEGER}, #{providerType,jdbcType=INTEGER}, #{sendResult,jdbcType=INTEGER}, 
      #{arriveResult,jdbcType=INTEGER}, #{custId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.lol.common.model.ds0.SmsQueue" >
    insert into sms_queue
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="msg != null" >
        msg,
      </if>
      <if test="sendTime != null" >
        send_time,
      </if>
      <if test="sendStatus != null" >
        send_status,
      </if>
      <if test="arriveStatus != null" >
        arrive_status,
      </if>
      <if test="providerId != null" >
        provider_id,
      </if>
      <if test="providerType != null" >
        provider_type,
      </if>
      <if test="sendResult != null" >
        send_result,
      </if>
      <if test="arriveResult != null" >
        arrive_result,
      </if>
      <if test="custId != null" >
        cust_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="msg != null" >
        #{msg,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendStatus != null" >
        #{sendStatus,jdbcType=VARCHAR},
      </if>
      <if test="arriveStatus != null" >
        #{arriveStatus,jdbcType=VARCHAR},
      </if>
      <if test="providerId != null" >
        #{providerId,jdbcType=INTEGER},
      </if>
      <if test="providerType != null" >
        #{providerType,jdbcType=INTEGER},
      </if>
      <if test="sendResult != null" >
        #{sendResult,jdbcType=INTEGER},
      </if>
      <if test="arriveResult != null" >
        #{arriveResult,jdbcType=INTEGER},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lol.common.model.ds0.SmsQueueExample" resultType="java.lang.Integer" >
    select count(*) from sms_queue
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sms_queue
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.mobile != null" >
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.msg != null" >
        msg = #{record.msg,jdbcType=VARCHAR},
      </if>
      <if test="record.sendTime != null" >
        send_time = #{record.sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sendStatus != null" >
        send_status = #{record.sendStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.arriveStatus != null" >
        arrive_status = #{record.arriveStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.providerId != null" >
        provider_id = #{record.providerId,jdbcType=INTEGER},
      </if>
      <if test="record.providerType != null" >
        provider_type = #{record.providerType,jdbcType=INTEGER},
      </if>
      <if test="record.sendResult != null" >
        send_result = #{record.sendResult,jdbcType=INTEGER},
      </if>
      <if test="record.arriveResult != null" >
        arrive_result = #{record.arriveResult,jdbcType=INTEGER},
      </if>
      <if test="record.custId != null" >
        cust_id = #{record.custId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sms_queue
    set id = #{record.id,jdbcType=BIGINT},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      msg = #{record.msg,jdbcType=VARCHAR},
      send_time = #{record.sendTime,jdbcType=TIMESTAMP},
      send_status = #{record.sendStatus,jdbcType=VARCHAR},
      arrive_status = #{record.arriveStatus,jdbcType=VARCHAR},
      provider_id = #{record.providerId,jdbcType=INTEGER},
      provider_type = #{record.providerType,jdbcType=INTEGER},
      send_result = #{record.sendResult,jdbcType=INTEGER},
      arrive_result = #{record.arriveResult,jdbcType=INTEGER},
      cust_id = #{record.custId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lol.common.model.ds0.SmsQueue" >
    update sms_queue
    <set >
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="msg != null" >
        msg = #{msg,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null" >
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendStatus != null" >
        send_status = #{sendStatus,jdbcType=VARCHAR},
      </if>
      <if test="arriveStatus != null" >
        arrive_status = #{arriveStatus,jdbcType=VARCHAR},
      </if>
      <if test="providerId != null" >
        provider_id = #{providerId,jdbcType=INTEGER},
      </if>
      <if test="providerType != null" >
        provider_type = #{providerType,jdbcType=INTEGER},
      </if>
      <if test="sendResult != null" >
        send_result = #{sendResult,jdbcType=INTEGER},
      </if>
      <if test="arriveResult != null" >
        arrive_result = #{arriveResult,jdbcType=INTEGER},
      </if>
      <if test="custId != null" >
        cust_id = #{custId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lol.common.model.ds0.SmsQueue" >
    update sms_queue
    set mobile = #{mobile,jdbcType=VARCHAR},
      msg = #{msg,jdbcType=VARCHAR},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
      send_status = #{sendStatus,jdbcType=VARCHAR},
      arrive_status = #{arriveStatus,jdbcType=VARCHAR},
      provider_id = #{providerId,jdbcType=INTEGER},
      provider_type = #{providerType,jdbcType=INTEGER},
      send_result = #{sendResult,jdbcType=INTEGER},
      arrive_result = #{arriveResult,jdbcType=INTEGER},
      cust_id = #{custId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <sql id="pagePrefix" >
    <if test="page != null" >
      <if test="dialect == 'oracle'" >
        select * from ( select row_.*, rownum rownum_ from ( 
      </if>
    </if>
  </sql>
  <sql id="pageSuffix" >
    <if test="page != null" >
      <if test="dialect == 'oracle'" >
        <![CDATA[ ) row_ ) where rownum_ > #{page.start} and rownum_ <= (#{page.start} + #{page.limit}) ]]>
      </if>
      <if test="dialect == 'mysql'" >
        limit #{page.start} , #{page.limit}
      </if>
    </if>
  </sql>
</mapper>